@tailwind base;
@tailwind components;
@tailwind utilities;

html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  color: #212529;
}

body {
  background-color: #f8f9fa;
}